.first-page {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.label {
    width: 80%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.jumbotron {
    background-color: #eee;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: auto;
    justify-content: center;
}